---
import ContentLayout from "../layouts/ContentLayout.astro";

interface Grant {
    recipient: string;
    project: string;
}

interface GrantCategory {
    category: string;
    grants: Grant[];
}

interface GrantYear {
    year: string;
    total: string;
    categories: GrantCategory[];
}

const grantYears: GrantYear[] = [
    {
        year: "Fall 2024",
        total: "$21,589.56",
        categories: [
            {
                category: "GMS STEM Grants",
                grants: [
                    { recipient: "Derek Angeloni", project: "Laser Cutter/Engraving in Middle School STEM" },
                    { recipient: "Derek Angeloni", project: "3D Printing in Middle School STEM" }
                ]
            },
            {
                category: "GIS/GMS STEM Grants",
                grants: [
                    { recipient: "Margie Seibert and Sean Mostov", project: "Funding for Entry into National Robotics Competition for Elementary & Middle School Teams" },
                    { recipient: "Scott Aten, Sean Mostov", project: "Antweight-Plastic Division Combat Robotics Program Expansion" }
                ]
            },
            {
                category: "GWD STEM Grants",
                grants: [
                    { recipient: "Alexis Carris-Scelza and Lacey Lonis", project: "CKLA / STEM Manipulatives" },
                    { recipient: "Brooke Schon", project: "Curricular Play - The Sensory Way!" }
                ]
            },
            {
                category: "GHS Group Grants",
                grants: [
                    { recipient: "Kory Smith", project: "Captain's Table" },
                    { recipient: "Patty Berardi, Christina Blosco, and Jane Pramik", project: "Great Lakes Theater Co Workshops" }
                ]
            },
            {
                category: "GMS & GIS Group Grant",
                grants: [
                    { recipient: "Caitlyn Taylor and Megan Donahue", project: "Cross-Curricular Lesson Development for Math, Science, ELA and Social Studies" }
                ]
            },
            {
                category: "GIS Group Grants",
                grants: [
                    { recipient: "Sean Mostov and Wendy Shocklee", project: "Hands-on Science Through Outdoor Education" },
                    { recipient: "Caitlyn Taylor and Sean Mostov", project: "Supporting Students with Disabilities through Active Learning and Physical Activity" }
                ]
            },
            {
                category: "GPS Group Grant",
                grants: [
                    { recipient: "Wrenn Nicodemo and April Vogley", project: "We're Booked! Spotlight on Literacy" }
                ]
            },
            {
                category: "GIS Spoonhower Orthodontics Health and Wellness Grant",
                grants: [
                    { recipient: "Sean Mostov", project: "Integrating Movement into the Classroom for ADHD Students" }
                ]
            },
            {
                category: "GHS Standard Grant",
                grants: [
                    { recipient: "Steve Donnelly and Tyler Worth", project: "E-sports Equipment" }
                ]
            },
            {
                category: "GMS Standard Grants",
                grants: [
                    { recipient: "Julie McMahan", project: "Academic Challenge Team" },
                    { recipient: "Stacey Custer", project: "Grief and Grace: Art as a Path to Heal" },
                    { recipient: "Amanda Popovich", project: "Speech-to-Text and Text-to-Speech Technologies" }
                ]
            },
            {
                category: "GIS Standard Grants",
                grants: [
                    { recipient: "Joe Trizzino", project: "Effects of Density on Liquids and Solids Project" },
                    { recipient: "Madison Clark", project: "The Power of Vocabulary in Science and Social Studies Classrooms" },
                    { recipient: "Pamela Fetchu", project: "Flocabulary" },
                    { recipient: "Kristen Young", project: "Supplemental Novels to Our Curriculum" }
                ]
            },
            {
                category: "GPS Standard Grant",
                grants: [
                    { recipient: "Callie Hyde", project: "Sensory Liquid Tiles" }
                ]
            },
            {
                category: "GWD Standard Grant",
                grants: [
                    { recipient: "Heidi Sluss, MSPT", project: "United Disability Services Membership Access" }
                ]
            }
        ]
    },
    {
        year: "Fall 2023",
        total: "$10,513.17",
        categories: [
            {
                category: "GWD Group Grant",
                grants: [
                    { recipient: "Alexis Carris-Scelza, Lacey Lonis", project: "STEM & CKLA Manipulatives" }
                ]
            },
            {
                category: "GPS Group Grant",
                grants: [
                    { recipient: "Kelli Murray", project: "Fire Kids Tablets" }
                ]
            },
            {
                category: "GIS Group Grants",
                grants: [
                    { recipient: "Sean Mostov, Andrea Meffert", project: "Building Bridges: Inclusive Learning Through LEGO Kits" },
                    { recipient: "Sean Mostov, Andrea Meffert", project: "LEGO Education BricQ" },
                    { recipient: "Sean Mostov, Cady Taylor", project: "Multi-Sensory/Exploration Inclusive Science Classroom" }
                ]
            },
            {
                category: "GWD Standard Grants",
                grants: [
                    { recipient: "Danielle Wilkie", project: "Putting PBIS Into Practice" },
                    { recipient: "Brooke Schon", project: "Bringing CKLA Into Classroom Play!" }
                ]
            },
            {
                category: "GPS Standard Grants",
                grants: [
                    { recipient: "Joy Dearing", project: "Seat Sacks" },
                    { recipient: "Carli Schrecengost", project: "Privacy Folders" },
                    { recipient: "Jenny Cochran", project: "ELA/Math Interventions" }
                ]
            },
            {
                category: "GIS Standard Grants",
                grants: [
                    { recipient: "Andrea Meffert", project: "Decodable Texts" },
                    { recipient: "Wendy Shocklee", project: "Amplify Extension: The Titanic Passenger Profile Project" }
                ]
            }
        ]
    },
    {
        year: "Fall 2022",
        total: "$12,982.32",
        categories: [
            {
                category: "GMS Group Grant",
                grants: [
                    { recipient: "Sheri Murray, Allison Misutka", project: "Rollin in the Art Room" }
                ]
            },
            {
                category: "GPS Group Grants",
                grants: [
                    { recipient: "Wrenn Nicodemo, April Vogley", project: "Read, Lead, Succeed" },
                    { recipient: "Melissa Stillion, Alexis Vittum, Heidi Sluss", project: "Chromebook Fliptouch Screens" }
                ]
            },
            {
                category: "GWD Group Grant",
                grants: [
                    { recipient: "Tess Maione, Katie DeSmith, Kimberly Sabo, Kristin Mason, Angela Hinkle", project: "Learning Through Pretend Play" }
                ]
            },
            {
                category: "GHS Spoonhower Health & Wellness Grants",
                grants: [
                    { recipient: "Marilyn Ruff", project: "Senior Commons Renewed Phase ONE" },
                    { recipient: "Lisa Pafford", project: "Special Needs Equipment" }
                ]
            },
            {
                category: "GWD Standard Grants",
                grants: [
                    { recipient: "Jenny Cochran", project: "Literacy Interventions to Support CKLA, LETRS and Students on IEPs" },
                    { recipient: "Alexis Carris-Scelza", project: "STEM Centers" },
                    { recipient: "Danielle Wilkie", project: "New Curriculum, New Needs" },
                    { recipient: "Jessica Baker", project: "Hands-on Building and Creating" },
                    { recipient: "Trudy Zimmerman", project: "Music for Motivation" },
                    { recipient: "Brooke Schon", project: "Fine Motor Mania" }
                ]
            },
            {
                category: "GPS Standard Grants",
                grants: [
                    { recipient: "Joy Dearing", project: "Bin Organizers" },
                    { recipient: "Anna Krukemeyer", project: "Bin Organizers" }
                ]
            },
            {
                category: "GIS Standard Grants",
                grants: [
                    { recipient: "Sean Mostov", project: "Increasing Special Education/Small Group Instruction Classroom Supports" },
                    { recipient: "Nicole Marchick", project: "Access to Literature for All" },
                    { recipient: "Wendy Shocklee", project: "Supplemental Novels to Amplify 6th Grade" }
                ]
            },
            {
                category: "GMS Group Grant",
                grants: [
                    { recipient: "Katie Bowman & Josh Klein", project: "Announcement Equipment" }
                ]
            },
            {
                category: "GHS Group Grant",
                grants: [
                    { recipient: "Marilyn Ruff, Amanda Gamble, Kevin Granito, Kory Smith", project: "Student Services Hallway Mural" }
                ]
            }
        ]
    },
    {
        year: "Fall 2021",
        total: "$9,500.97",
        categories: [
            {
                category: "GWD Group Grant",
                grants: [
                    { recipient: "Multiple Teachers", project: "Block Play" }
                ]
            },
            {
                category: "GWD Spoonhower Health and Wellness Grant",
                grants: [
                    { recipient: "Heidi Sluss, MSPT", project: "Therapy Training Stairs" }
                ]
            },
            {
                category: "GWD Standard Grants",
                grants: [
                    { recipient: "Trudy Zimmerman", project: "100 Math Club" },
                    { recipient: "Danielle Wilkie", project: "Making Mornings Manageable" },
                    { recipient: "Brooke Schon", project: "Developing Skills for Budding Artists" },
                    { recipient: "Jenny Cochran", project: "Learning Through Literacy Manipulatives" }
                ]
            },
            {
                category: "GIS Standard Grants",
                grants: [
                    { recipient: "Wendy Shocklee", project: "Survival: Literature Circles" },
                    { recipient: "Andrea Meffert", project: "Integrating Technology Support" }
                ]
            },
            {
                category: "GMS Standard Grant",
                grants: [
                    { recipient: "Stacey Custer, Lori McCartney, Liz Willemin", project: "ROX Leadership Team" }
                ]
            },
            {
                category: "GHS Standard Grants",
                grants: [
                    { recipient: "Floyd Juszli", project: "3-D Printing in the Ceramics Lab" },
                    { recipient: "Cory Potter", project: "Cultivating Independent Readers" },
                    { recipient: "Natalie Tannehill", project: "Choice Reading Titles for Secondary Students" },
                    { recipient: "Mark Tomecko", project: "Books for Underprivileged Students" }
                ]
            }
        ]
    }
];

interface SuccessStory {
    title: string;
    description: string;
    imageSrc?: string;
    imageAlt?: string;
}

const successStories: SuccessStory[] = [
    {
        title: "Building & Construction Materials",
        description: "A 2021-2022 Green Developmental Preschool program grant provided the purchase of new building and construction materials. With these new materials students experimented with simple science concepts, such as balance and gravity, and practice early math skills, like sorting, creating patterns, and building shapes, all while expressing their creativity and learning to work cooperatively with their peers.",
        imageSrc: "/gallery/preschool-grant.webp",
        imageAlt: "Preschool students using building materials"
    },
    {
        title: "Assistive Technology for Learning",
        description: "Green Schools Foundation provided funding for an iPad, keyboard, and case for a special student, Jackson A. in Mrs. Meffert's Green Intermediate School classroom. This device has already supported his learning in so many ways. Assistive technology allows students who learn differently to shine. It enhances learning by helping them work around any challenges that stand in the way of fully understanding or engaging in their schoolwork.",
        imageAlt: "Student using assistive technology"
    },
    {
        title: "Therapy Training Stairs",
        description: "Greenwood's Therapy Stairs is an exceptional piece of equipment paid for by funds through a teacher grant submitted by Heidi Sluss, Physical Therapist. The stairs will be instrumental in helping with mobility for our preschoolers and kindergartners.",
        imageAlt: "Therapy training stairs equipment"
    }
];

const guidelines = [
    "Emphasis on student engagement",
    "Creative and innovative",
    "Green community-oriented",
    "Beyond routine budgeted items",
    "Promote academic excellence for all students"
];
---

<ContentLayout
    title="Academic Classroom Grants"
    description="Supporting teachers with funding for innovative classroom projects and educational materials that enhance student learning."
    showBreadcrumbs={true}
    breadcrumbs={[
        { name: "Foundation Initiatives", href: "/foundation-initiatives" },
        { name: "Academic Classroom Grants", href: "/academic-class-grants" }
    ]}
>
    <div class="content-section">
        <h2>Supporting Innovation in the Classroom</h2>
        <p>
            Green Schools Foundation invites any staff members to apply for grants to fund projects that will enhance student learning opportunities. Green Schools Foundation supports district staff in delivering quality instruction and enrichment for all students in Green Local Schools. Priority is given to those staff who are members of the Foundation.
        </p>
    </div>

    <div class="highlight-box">
        <h2 class="text-2xl font-bold text-primary-600 mb-4">Grant Application</h2>
        <div class="grid-2">
            <div>
                <h3 class="font-semibold text-gray-900 mb-3">Grant Guidelines</h3>
                <p class="text-gray-700 mb-4">Classroom grants guidelines when considering applying include:</p>
                <ul class="space-y-2 text-gray-700">
                    {guidelines.map((guideline) => (
                        <li class="flex items-start">
                            <svg class="w-5 h-5 text-primary-500 mr-2 mt-0.5 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                            </svg>
                            <span>{guideline}</span>
                        </li>
                    ))}
                </ul>
            </div>
            <div class="text-center flex flex-col justify-center">
                <div class="w-20 h-20 bg-primary-100 rounded-lg flex items-center justify-center mx-auto mb-4">
                    <svg class="w-10 h-10 text-primary-600" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"/>
                    </svg>
                </div>
                <a href="mailto:greenschoolsfoundation@gmail.com?subject=Classroom Grant Application Request" class="button-primary">
                    Request Application
                </a>
                <p class="text-sm text-gray-600 mt-3">Contact us to receive the current grant application form</p>
            </div>
        </div>
    </div>

    <!-- Success Stories with Images -->
    <div class="content-section">
        <h2>Grant Success Stories</h2>
        <p class="mb-8">
            Our classroom grants have supported countless innovative projects that have enhanced learning experiences for Green Local Schools students. Here are some examples of how grant funding has made a difference:
        </p>

        <div class="space-y-8">
            {successStories.map((story, index) => (
                <div class={`flex flex-col ${index % 2 === 0 ? 'md:flex-row' : 'md:flex-row-reverse'} gap-6 items-center bg-white rounded-lg shadow-lg p-6 border border-gray-200`}>
                    {story.imageSrc ? (
                        <div class="w-full md:w-1/3 flex-shrink-0">
                            <img src={story.imageSrc} alt={story.imageAlt} class="rounded-lg w-full h-48 object-cover" />
                        </div>
                    ) : (
                        <div class="w-full md:w-1/3 flex-shrink-0 h-48 bg-gray-100 rounded-lg flex items-center justify-center">
                            <svg class="w-16 h-16 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    )}
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-gray-900 mb-3">{story.title}</h3>
                        <p class="text-gray-600">{story.description}</p>
                    </div>
                </div>
            ))}
        </div>
    </div>

    <!-- Past Recipients -->
    <div class="content-section">
        <h2>Past Grant Recipients</h2>
        <p class="mb-8">
            We are proud to have supported hundreds of educators and their innovative classroom projects. Below are our recent grant recipients organized by school year.
        </p>

        <div class="space-y-10">
            {grantYears.map((yearData) => (
                <div class="bg-stone-100 rounded-2xl shadow-xl overflow-hidden border border-stone-200">
                    <!-- Year Header -->
                    <div class="bg-gradient-to-r from-primary-600 to-primary-700 px-6 py-5 flex flex-col md:flex-row md:items-center md:justify-between">
                        <h3 class="text-2xl font-bold text-white">{yearData.year} Recipients</h3>
                        <span class="text-lg font-semibold text-white/90 bg-white/20 px-4 py-1 rounded-full">{yearData.total} Total Awarded</span>
                    </div>

                    <!-- Cards Container -->
                    <div class="p-6 bg-gradient-to-b from-stone-50 to-stone-100">
                        <div class="grid gap-5 md:grid-cols-2">
                            {yearData.categories.map((category) => (
                                <div class="bg-white rounded-xl p-5 border border-stone-200 shadow-sm hover:shadow-md transition-shadow">
                                    <h4 class="font-bold text-primary-700 text-base mb-3 pb-2 border-b-2 border-primary-500">{category.category}</h4>
                                    <ul class="space-y-3">
                                        {category.grants.map((grant, idx) => (
                                            <li class={`text-sm ${idx > 0 ? 'pt-3 border-t border-stone-200' : ''}`}>
                                                <span class="font-semibold text-stone-800">{grant.recipient}</span>
                                                <p class="text-stone-600 mt-0.5">"{grant.project}"</p>
                                            </li>
                                        ))}
                                    </ul>
                                </div>
                            ))}
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>

    <!-- School Abbreviations Key -->
    <div class="bg-gray-50 rounded-lg p-6 mb-8">
        <h3 class="font-semibold text-gray-900 mb-3">School Abbreviations</h3>
        <div class="grid grid-cols-2 md:grid-cols-5 gap-4 text-sm">
            <div><span class="font-medium">GHS</span> - Green High School</div>
            <div><span class="font-medium">GMS</span> - Green Middle School</div>
            <div><span class="font-medium">GIS</span> - Green Intermediate School</div>
            <div><span class="font-medium">GPS</span> - Green Primary School</div>
            <div><span class="font-medium">GWD</span> - Greenwood (Preschool/K)</div>
        </div>
    </div>

    <div class="content-section text-center">
        <h2>Ready to Apply?</h2>
        <p class="mb-6">
            Have an innovative idea that could enhance learning in your classroom? We'd love to help make it happen.
        </p>
        <a href="mailto:greenschoolsfoundation@gmail.com?subject=Classroom Grant Application" class="button-primary mr-4">
            Request Application
        </a>
        <a href="/celebration-of-education" class="button-secondary">
            See Past Award Ceremonies
        </a>
    </div>
</ContentLayout>
